Repository nelc/eox-nelp, pull requests merged in 2023-12, with the labels that each got.

#112 feat: add receiver which is able to emit an event the first time that…
  eox_nelp/apps.py
  eox_nelp/signals/receivers.py
  eox_nelp/signals/tests/test_receivers.py
  requirements/base.in
  requirements/base.txt
Labels: django_plugin, size/s, requirements, test

#114 feat: add initialized event transformer
  eox_nelp/edxapp_wrapper/backends/event_routing_backends_m_v1.py
  eox_nelp/edxapp_wrapper/event_routing_backends.py
  eox_nelp/edxapp_wrapper/test_backends/event_routing_backends_m_v1.py
  eox_nelp/init_pipeline.py
  eox_nelp/openedx_filters/tests/xapi/tests_filters.py
  eox_nelp/openedx_filters/xapi/filters.py
  eox_nelp/processors/__init__.py
  eox_nelp/processors/tests/__init__.py
  eox_nelp/processors/tests/xapi/__init__.py
  eox_nelp/processors/tests/xapi/event_transformers/__init__.py
  eox_nelp/processors/tests/xapi/event_transformers/tests_initialized_events.py
  eox_nelp/processors/xapi/__init__.py
  eox_nelp/processors/xapi/constants.py
  eox_nelp/processors/xapi/event_transformers/__init__.py
  eox_nelp/processors/xapi/event_transformers/initialized_events.py
  eox_nelp/settings/common.py
  eox_nelp/settings/test.py
  eox_nelp/tests/test_init_pipeline.py
Labels: size/m, django_plugin, test

#113 Jlc/change staff admin msg pipeline
  eox_nelp/locale/ar/LC_MESSAGES/django.mo
  eox_nelp/locale/ar/LC_MESSAGES/django.po
  eox_nelp/third_party_auth/pipeline.py
  eox_nelp/third_party_auth/tests/test_pipeline.py
Labels: size/s, test, translations

#115 feat: add feedback events
  eox_nelp/course_experience/models.py
  eox_nelp/course_experience/tests/__init__.py
  eox_nelp/course_experience/tests/tests_models.py
  eox_nelp/settings/common.py
  eox_nelp/settings/test.py
  eox_nelp/tests/test_utils.py
  eox_nelp/utils.py
Labels: size/m, django_plugin, course_experience, test

#116 refactor: implement course object mixin
  eox_nelp/processors/tests/xapi/event_transformers/tests_initialized_events.py
  eox_nelp/processors/tests/xapi/mixins.py
  eox_nelp/processors/tests/xapi/tests_mixins.py
  eox_nelp/processors/xapi/event_transformers/initialized_events.py
  eox_nelp/processors/xapi/mixins.py
  eox_nelp/signals/tests/test_receivers.py
Labels: size/m, test

#117 feat: add course experience transformer
  eox_nelp/processors/tests/xapi/event_transformers/tests_course_experience_events.py
  eox_nelp/processors/tests/xapi/event_transformers/tests_initialized_events.py
  eox_nelp/processors/tests/xapi/mixins.py
  eox_nelp/processors/tests/xapi/tests_mixins.py
  eox_nelp/processors/xapi/constants.py
  eox_nelp/processors/xapi/event_transformers/__init__.py
  eox_nelp/processors/xapi/event_transformers/course_experience_events.py
  eox_nelp/processors/xapi/mixins.py
Labels: size/m, test

#118 feat: Add verb filter and updates default language
  eox_nelp/openedx_filters/tests/xapi/tests_filters.py
  eox_nelp/openedx_filters/xapi/filters.py
  eox_nelp/processors/xapi/constants.py
Labels: size/s, test

#119 feat: overrides get_context_activities method and set default languag…
  eox_nelp/processors/tests/xapi/mixins.py
  eox_nelp/processors/tests/xapi/tests_mixins.py
  eox_nelp/processors/xapi/mixins.py
Labels: size/m, test
