Repository nelc/eox-nelp, pull requests merged in 2023-09, with the labels that each got.

#91 feat: adding enrollment receiver
  eox_nelp/apps.py
  eox_nelp/edxapp_wrapper/test_backends/grades_m_v1.py
  eox_nelp/signals/receivers.py
  eox_nelp/signals/tests/test_receivers.py
  eox_nelp/signals/tests/test_utils.py
  eox_nelp/signals/utils.py
Labels: size/m, django_plugin, test

#93 feat: displaying generated errors
  eox_nelp/admin/certificates.py
Labels: size/s, admin

#92 Jlc/strain dispatcher action
  .github/workflows/strain_dispatcher.yml
Labels: github_actions, size/s

#94 chore: allow closed types
  .github/workflows/strain_dispatcher.yml
Labels: github_actions, size/xs

#96 Jlc/certificates metrics
  eox_nelp/edxapp_wrapper/test_backends/certificates_m_v1.py
  eox_nelp/migrations/0001_initial.py
  eox_nelp/settings/test.py
  eox_nelp/stats/api/v1/views.py
  eox_nelp/stats/metrics.py
  eox_nelp/stats/tests/api/v1/tests_views.py
  eox_nelp/stats/tests/tests_metrics.py
Labels: size/m, test

#97 feat: add certificates stats
  eox_nelp/static/feedback_carousel/js/feedback_carousel.js
  eox_nelp/static/tenant_stats/js/tenant_stats.js
  eox_nelp/stats/frontend/src/components/TenantStats/index.jsx
  eox_nelp/stats/templates/tenant_stats.html
  eox_nelp/stats/views.py
  package-lock.json
  package.json
Labels: repo_root, size/s

#98 feat: move mako logic to init method
  eox_nelp/course_experience/frontend/tests/test_views.py
  eox_nelp/course_experience/frontend/views.py
  eox_nelp/init_pipeline.py
  eox_nelp/stats/views.py
  eox_nelp/templates_config.py
  eox_nelp/tests/test_init_pipeline.py
Labels: size/m, django_plugin, course_experience, test
