Repository nelc/eox-nelp, pull requests merged in 2023-06, with the labels that each got.

#52 feat: add eox-audit to course xp views
  MANIFEST.in
  eox_nelp/course_experience/api/v1/views.py
  eox_nelp/settings/common.py
  eox_nelp/settings/test.py
  requirements/eox-audit-model.in
  setup.py
Labels: repo_root, size/s, requirements, course_experience, test

#54 And jlc/add essentials views
  .babelrc
  .env.frontend
  .gitignore
  eox_nelp/course_experience/frontend/__init__.py
  eox_nelp/course_experience/frontend/src/components/FeedbackCarousel/index.jsx
  eox_nelp/course_experience/frontend/src/components/FeedbackCarousel/index.scss
  eox_nelp/course_experience/frontend/templates/__init__.py
  eox_nelp/course_experience/frontend/templates/feedback_courses.html
  eox_nelp/course_experience/frontend/tests/__init__.py
  eox_nelp/course_experience/frontend/tests/test_views.py
  eox_nelp/course_experience/frontend/urls.py
  eox_nelp/course_experience/frontend/views.py
  eox_nelp/edxapp_wrapper/backends/edxmako_m_v1.py
  eox_nelp/edxapp_wrapper/edxmako.py
  eox_nelp/edxapp_wrapper/test_backends/edxmako_m_v1.py
  eox_nelp/settings/common.py
  eox_nelp/settings/test.py
  eox_nelp/static/feedback_carousel/css/feedback_carousel.css
  eox_nelp/static/feedback_carousel/js/feedback_carousel.js
  eox_nelp/static/feedback_carousel/js/feedback_carousel.js.LICENSE.txt
  eox_nelp/templates_config.py
  eox_nelp/urls.py
  package-lock.json
  package.json
  webpack.common.config.js
  webpack.dev.config.js
  webpack.prod.config.js
Labels: repo_root, django_plugin, course_experience, test, size/xl

#56 feat: change default public 2 false in feedback
  eox_nelp/course_experience/models.py
  eox_nelp/migrations/0004_feedback_public_default_to_false.py
Labels: size/s, course_experience

#55 And/stats api view
  eox_nelp/edxapp_wrapper/backends/branding_m_v1.py
  eox_nelp/edxapp_wrapper/backends/student_m_v1.py
  eox_nelp/edxapp_wrapper/branding.py
  eox_nelp/edxapp_wrapper/student.py
  eox_nelp/edxapp_wrapper/test_backends/branding_m_v1.py
  eox_nelp/edxapp_wrapper/test_backends/student_m_v1.py
  eox_nelp/settings/common.py
  eox_nelp/settings/test.py
  eox_nelp/stats/__init__.py
  eox_nelp/stats/api/__init__.py
  eox_nelp/stats/api/urls.py
  eox_nelp/stats/api/v1/__init__.py
  eox_nelp/stats/api/v1/urls.py
  eox_nelp/stats/api/v1/views.py
  eox_nelp/stats/decorators.py
  eox_nelp/stats/metrics.py
  eox_nelp/stats/tests/__init__.py
  eox_nelp/stats/tests/api/__init__.py
  eox_nelp/stats/tests/api/v1/__init__.py
  eox_nelp/stats/tests/api/v1/tests_views.py
  eox_nelp/stats/tests/tests_decorators.py
  eox_nelp/stats/tests/tests_metrics.py
  eox_nelp/tests/utils.py
  eox_nelp/urls.py
Labels: django_plugin, test, size/xl

#57 feat: add tenant stats view
  eox_nelp/edxapp_wrapper/test_backends/edxmako_m_v1.py
  eox_nelp/settings/test.py
  eox_nelp/static/tenant_stats/css/tenant_stats.css
  eox_nelp/static/tenant_stats/js/tenant_stats.js
  eox_nelp/static/tenant_stats/js/tenant_stats.js.LICENSE.txt
  eox_nelp/stats/frontend/__init__.py
  eox_nelp/stats/frontend/src/components/TenantStats/index.jsx
  eox_nelp/stats/frontend/src/components/TenantStats/index.scss
  eox_nelp/stats/templates/__init__.py
  eox_nelp/stats/templates/tenant_stats.html
  eox_nelp/stats/tests/test_views.py
  eox_nelp/stats/urls.py
  eox_nelp/stats/views.py
  eox_nelp/templates_config.py
  eox_nelp/urls.py
  package-lock.json
  package.json
  webpack.common.config.js
Labels: repo_root, size/m, django_plugin, test
