Repository nelc/eox-nelp, pull requests merged in 2023-04, with the labels that each got.

#43 feat: add notifications models and its admin file
  eox_nelp/admin/__init__.py
  eox_nelp/migrations/0002_upcomingcourseduedate.py
  eox_nelp/notifications/__init__.py
  eox_nelp/notifications/admin.py
  eox_nelp/notifications/models.py
  eox_nelp/notifications/tests/__init__.py
  eox_nelp/notifications/tests/test_admin.py
  eox_nelp/notifications/tests/test_models.py
Labels: size/m, admin, test

#45 feat: add notification receiver, this allows to create UpcomingCourse…
  eox_nelp/apps.py
  eox_nelp/edxapp_wrapper/backends/modulestore_m_v1.py
  eox_nelp/edxapp_wrapper/modulestore.py
  eox_nelp/edxapp_wrapper/test_backends/modulestore_m_v1.py
  eox_nelp/notifications/models.py
  eox_nelp/notifications/tasks.py
  eox_nelp/notifications/tests/test_tasks.py
  eox_nelp/settings/common.py
  eox_nelp/settings/test.py
  eox_nelp/signals/receivers.py
Labels: django_plugin, test, size/l

#46 feat: add command to check UpcomingCourseDueDate
  eox_nelp/management/__init__.py
  eox_nelp/management/commands/__init__.py
  eox_nelp/management/commands/notify_course_due_dates.py
  eox_nelp/management/commands/tests/__init__.py
  eox_nelp/management/commands/tests/test_check_notify_course_due_dates.py
  setup.cfg
Labels: repo_root, size/m, test, commands

#44 Jlc/notify course due dates
  eox_nelp/edxapp_wrapper/backends/bulk_email_m_v1.py
  eox_nelp/edxapp_wrapper/backends/modulestore_m_v1.py
  eox_nelp/edxapp_wrapper/backends/student_m_v1.py
  eox_nelp/edxapp_wrapper/bulk_email.py
  eox_nelp/edxapp_wrapper/modulestore.py
  eox_nelp/edxapp_wrapper/student.py
  eox_nelp/edxapp_wrapper/test_backends/bulk_email_m_v1.py
  eox_nelp/edxapp_wrapper/test_backends/modulestore_m_v1.py
  eox_nelp/edxapp_wrapper/test_backends/student_m_v1.py
  eox_nelp/notifications/models.py
  eox_nelp/notifications/notify_course_due_date.py
  eox_nelp/notifications/tasks.py
  eox_nelp/notifications/tests/test_models.py
  eox_nelp/notifications/tests/test_notify_course_due_date.py
  eox_nelp/notifications/tests/test_tasks.py
  eox_nelp/notifications/tests/test_utils.py
  eox_nelp/notifications/utils.py
  eox_nelp/settings/common.py
  eox_nelp/settings/test.py
  eox_nelp/tests/utils.py
Labels: test, size/l
