Repository nelc/eox-nelp, pull requests merged in 2023-08, with the labels that each got.

#73 feat: set up certificate receiver
  eox_nelp/apps.py
  eox_nelp/signals/receivers.py
  requirements/base.in
  requirements/base.txt
  requirements/django.txt
  requirements/pip-tools.txt
  requirements/test.txt
  requirements/tox.txt
Labels: size/m, django_plugin, requirements

#74 refactor: implementing abstract API class
  eox_nelp/api_clients/__init__.py
  eox_nelp/api_clients/futurex.py
  eox_nelp/api_clients/tests/__init__.py
  eox_nelp/api_clients/tests/tests_futurex.py
Labels: test, size/l

#75 feat: add certificates api client
  eox_nelp/api_clients/certificates.py
  eox_nelp/api_clients/tests/tests_certificates.py
  eox_nelp/settings/test.py
Labels: size/m, test

#77 feat: add api client based on basic authentication.
  eox_nelp/api_clients/__init__.py
  eox_nelp/api_clients/certificates.py
  eox_nelp/api_clients/futurex.py
  eox_nelp/api_clients/tests/__init__.py
  eox_nelp/api_clients/tests/tests_certificates.py
  eox_nelp/api_clients/tests/tests_futurex.py
  eox_nelp/settings/test.py
Labels: size/m, test

#76 feat: add create external certificate task
  eox_nelp/settings/test.py
  eox_nelp/signals/receivers.py
  eox_nelp/signals/tasks.py
  eox_nelp/signals/tests/test_receivers.py
  eox_nelp/signals/tests/test_tasks.py
  eox_nelp/signals/tests/test_utils.py
  eox_nelp/signals/utils.py
Labels: size/m, test

#78 feat: allows to set a group code base on the course id
  eox_nelp/api_clients/certificates.py
  eox_nelp/api_clients/tests/tests_certificates.py
  eox_nelp/signals/tests/test_utils.py
  eox_nelp/signals/utils.py
Labels: size/s, test

#80 fix: change certificates path
  eox_nelp/api_clients/certificates.py
Labels: size/xs

#79 feat: adding extra headers feature.
  eox_nelp/api_clients/__init__.py
  eox_nelp/api_clients/certificates.py
  eox_nelp/api_clients/tests/tests_certificates.py
  eox_nelp/api_clients/tests/tests_futurex.py
Labels: size/s, test

#81 fix: changing date time to date and applying general imrpovements
  eox_nelp/api_clients/__init__.py
  eox_nelp/api_clients/certificates.py
  eox_nelp/api_clients/tests/__init__.py
  eox_nelp/signals/receivers.py
  eox_nelp/signals/tasks.py
  eox_nelp/signals/tests/test_receivers.py
  eox_nelp/signals/tests/test_utils.py
  eox_nelp/signals/utils.py
Labels: size/s, test

#82 fix: update certificates api_client data structure
  eox_nelp/api_clients/certificates.py
Labels: size/xs

#83 feat: add prefix to reference_id parameter in certificate api client
  eox_nelp/api_clients/certificates.py
Labels: size/xs

#84 feat: allows to audit the create_external_certificates method
  eox_nelp/api_clients/certificates.py
Labels: size/s

#85 feat: add new admin action that allows to create external certificates
  eox_nelp/admin/__init__.py
  eox_nelp/admin/certificates.py
  eox_nelp/edxapp_wrapper/backends/certificates_m_v1.py
  eox_nelp/edxapp_wrapper/certificates.py
  eox_nelp/edxapp_wrapper/test_backends/certificates_m_v1.py
  eox_nelp/settings/common.py
  eox_nelp/settings/test.py
Labels: size/m, admin, test

#86 chore: update frontend-essentials to 1.6.1
  eox_nelp/static/feedback_carousel/js/feedback_carousel.js
  eox_nelp/static/tenant_stats/js/tenant_stats.js
  package-lock.json
  package.json
Labels: repo_root, size/s

#87 feat: add national_id validation for reference_id
  eox_nelp/api_clients/certificates.py
  eox_nelp/api_clients/tests/tests_certificates.py
  eox_nelp/signals/tests/test_utils.py
  eox_nelp/signals/utils.py
  eox_nelp/utils.py
Labels: size/m, django_plugin, test

#88 fix: limit registration based on current installed apps
  eox_nelp/admin/register_admin_model.py
  eox_nelp/edxapp_wrapper/backends/certificates_m_v1.py
Labels: size/s, admin
