Repository nelc/eox-nelp, pull requests merged in 2023-10, with the labels that each got.

#89 And/temporal payment notifications
  eox_nelp/admin/__init__.py
  eox_nelp/apps.py
  eox_nelp/init_pipeline.py
  eox_nelp/migrations/0005_paymentnotification.py
  eox_nelp/migrations/0006_auto_20230726_1707.py
  eox_nelp/payment_notifications/__init__.py
  eox_nelp/payment_notifications/admin.py
  eox_nelp/payment_notifications/context_processor.py
  eox_nelp/payment_notifications/models.py
  eox_nelp/payment_notifications/templates/__init__.py
  eox_nelp/payment_notifications/templates/payment_notifications.html
  eox_nelp/payment_notifications/templates/payment_notifications_with_frame.html
  eox_nelp/payment_notifications/urls.py
  eox_nelp/payment_notifications/views.py
  eox_nelp/settings/common.py
  eox_nelp/signals/receivers.py
  eox_nelp/urls.py
Labels: django_plugin, admin, size/l

#100 feat: add custom social_details pipeline
  eox_nelp/auth_pipeline.py
Labels: django_plugin, size/s

#102 Jlc/add studio urls
  eox_nelp/apps.py
  eox_nelp/cms_urls.py
  eox_nelp/tests/test_views.py
Labels: django_plugin, size/s, test

#103 Jlc/add course run view set wrapper
  eox_nelp/cms/__init__.py
  eox_nelp/cms/api/__init__.py
  eox_nelp/cms/api/urls.py
  eox_nelp/cms/api/v1/__init__.py
  eox_nelp/cms/api/v1/routers.py
  eox_nelp/cms/api/v1/tests/__init__.py
  eox_nelp/cms/api/v1/tests/test_views.py
  eox_nelp/cms/api/v1/urls.py
  eox_nelp/cms/api/v1/views.py
  eox_nelp/cms_urls.py
  eox_nelp/edxapp_wrapper/backends/cms_api_m_v1.py
  eox_nelp/edxapp_wrapper/cms_api.py
  eox_nelp/edxapp_wrapper/test_backends/cms_api_m_v1.py
  eox_nelp/settings/common.py
  eox_nelp/settings/test.py
Labels: size/m, django_plugin, test
