Repository nelc/eox-nelp, pull requests merged in 2023-11, with the labels that each got.

#104 feat: add invalidate current user pipeline
  eox_nelp/auth_pipeline.py
  eox_nelp/third_party_auth/__init__.py
  eox_nelp/third_party_auth/pipeline.py
Labels: django_plugin, size/s

#105 Jlc/course run course creator permissions
  eox_nelp/cms/api/v1/permissions.py
  eox_nelp/cms/api/v1/tests/test_views.py
  eox_nelp/cms/api/v1/views.py
  eox_nelp/edxapp_wrapper/backends/student_m_v1.py
  eox_nelp/edxapp_wrapper/student.py
  eox_nelp/edxapp_wrapper/test_backends/cms_api_m_v1.py
  eox_nelp/edxapp_wrapper/test_backends/student_m_v1.py
Labels: size/m, test

#106 Jlc/nid pipeline
  eox_nelp/third_party_auth/exceptions.py
  eox_nelp/third_party_auth/pipeline.py
  eox_nelp/third_party_auth/tests/__init__.py
  eox_nelp/third_party_auth/tests/test_pipeline.py
Labels: size/m, test

#107 feat: add xapi actor filter
  eox_nelp/openedx_filters/__init__.py
  eox_nelp/openedx_filters/tests/__init__.py
  eox_nelp/openedx_filters/tests/xapi/__init__.py
  eox_nelp/openedx_filters/tests/xapi/tests_filters.py
  eox_nelp/openedx_filters/xapi/__init__.py
  eox_nelp/openedx_filters/xapi/filters.py
  requirements/base.in
  requirements/base.txt
  requirements/django.txt
  requirements/pip-tools.txt
  requirements/test.txt
  requirements/tox.txt
Labels: requirements, test

#108 feat: add XApiBaseEnrollmentFilter
  eox_nelp/edxapp_wrapper/backends/course_overviews_m_v1.py
  eox_nelp/edxapp_wrapper/course_overviews.py
  eox_nelp/edxapp_wrapper/test_backends/course_overviews_m_v1.py
  eox_nelp/openedx_filters/tests/xapi/tests_filters.py
  eox_nelp/openedx_filters/xapi/filters.py
  eox_nelp/tests/test_utils.py
  eox_nelp/utils.py
Labels: size/m, django_plugin, test

#109 chore: update filters
  eox_nelp/openedx_filters/tests/xapi/tests_filters.py
  eox_nelp/openedx_filters/xapi/filters.py
Labels: size/s, test

#110 And/add base problem filter
  eox_nelp/openedx_filters/tests/xapi/tests_filters.py
  eox_nelp/openedx_filters/xapi/filters.py
  eox_nelp/tests/test_utils.py
  eox_nelp/utils.py
Labels: size/m, django_plugin, test

#111 fix: validate markdown type
  eox_nelp/tests/test_utils.py
  eox_nelp/utils.py
Labels: django_plugin, size/s, test
