Repository nelc/eox-nelp, pull requests merged in 2023-07, with the labels that each got.

#60 Revert "feat: positive logic to the stats view"
  eox_nelp/stats/templates/tenant_stats.html
  eox_nelp/stats/tests/test_views.py
  eox_nelp/stats/urls.py
  eox_nelp/stats/views.py
  eox_nelp/urls.py
Labels: django_plugin, size/s, test

#61 feat: use query params in snake case
  eox_nelp/stats/templates/tenant_stats.html
  eox_nelp/stats/tests/test_views.py
  eox_nelp/stats/views.py
Labels: size/s, test

#63 fix: set right doc-string
  eox_nelp/stats/urls.py
Labels: size/xs

#62 feat: change default stats view in order to show all available compon…
  eox_nelp/stats/frontend/__init__.py
  eox_nelp/stats/tests/test_views.py
  eox_nelp/stats/views.py
Labels: size/s, test

#65 feat: add extra fields options to relationships
  eox_nelp/course_experience/api/v1/relations.py
  eox_nelp/course_experience/api/v1/serializers.py
Labels: size/s, course_experience

#66 chore: update frontend-essentials to include the feedback improvement…
  eox_nelp/static/feedback_carousel/css/feedback_carousel.css
  eox_nelp/static/feedback_carousel/js/feedback_carousel.js
  eox_nelp/static/tenant_stats/css/tenant_stats.css
  eox_nelp/static/tenant_stats/js/tenant_stats.js
  package-lock.json
  package.json
Labels: repo_root, size/s

#64 Jlc/experience relationships attributes
  eox_nelp/course_experience/api/v1/serializers.py
  eox_nelp/course_experience/api/v1/tests/mixins_helpers.py
  eox_nelp/course_experience/api/v1/tests/test_views.py
Labels: size/m, course_experience, test

#67 refactor: create utils file to share in project
  eox_nelp/course_experience/api/v1/serializers.py
  eox_nelp/utils.py
  eox_nelp/views.py
Labels: django_plugin, size/s, course_experience

#68 feat: add setting configuration for relationships
  eox_nelp/course_experience/api/v1/serializers.py
  eox_nelp/course_experience/api/v1/tests/mixins_helpers.py
Labels: size/s, course_experience

#69 feat: update frontend essentials -> 1.6.0
  eox_nelp/static/feedback_carousel/css/feedback_carousel.css
  eox_nelp/static/feedback_carousel/js/feedback_carousel.js
  eox_nelp/static/tenant_stats/css/tenant_stats.css
  package-lock.json
  package.json
Labels: repo_root, size/s

#70 feat: add feedback admin fields
  eox_nelp/course_experience/admin.py
Labels: course_experience, size/xs

#71 feat: add gender choices patch
  eox_nelp/apps.py
  eox_nelp/edxapp_wrapper/backends/student_m_v1.py
  eox_nelp/edxapp_wrapper/student.py
  eox_nelp/edxapp_wrapper/test_backends/student_m_v1.py
  eox_nelp/init_pipeline.py
Labels: django_plugin, size/s
