Repository nelc/eox-nelp, pull requests merged in 2023-03, with the labels that each got.

#39 feat: add receivers file and connect basi function to signals
  eox_nelp/apps.py
  eox_nelp/receivers.py
Labels: django_plugin, size/s

#35 feat: add futurex api client
  Makefile
  eox_nelp/api_clients/__init__.py
  eox_nelp/api_clients/futurex.py
  eox_nelp/api_clients/tests/__init__.py
  eox_nelp/api_clients/tests/tests_futurex.py
  eox_nelp/settings/common.py
  eox_nelp/settings/test.py
  requirements/base.in
  requirements/base.txt
  requirements/pip-tools.txt
  requirements/test.txt
  requirements/tox.txt
Labels: repo_root, size/m, requirements, test

#37 feat: add base commit lint confi file for actions
  commitlint.config.js
Labels: repo_root, size/m

#40 Jlc/gating completion first approx
  Makefile
  eox_nelp/apps.py
  eox_nelp/edxapp_wrapper/test_backends/courseware_m_v1.py
  eox_nelp/edxapp_wrapper/test_backends/grades_m_v1.py
  eox_nelp/receivers.py
  eox_nelp/settings/common.py
  eox_nelp/settings/test.py
  eox_nelp/signals/__init__.py
  eox_nelp/signals/receivers.py
  eox_nelp/signals/tasks.py
  eox_nelp/signals/tests/__init__.py
  eox_nelp/signals/tests/test_receivers.py
  eox_nelp/signals/tests/test_tasks.py
  requirements/base.in
  requirements/base.txt
  requirements/test.txt
  requirements/tox.txt
Labels: repo_root, django_plugin, requirements, test, size/xl

#41 Jlc/control progress event by settings
  Makefile
  eox_nelp/signals/tasks.py
  eox_nelp/signals/tests/test_tasks.py
Labels: repo_root, size/s, test
