Repository nelc/eox-nelp, pull requests merged in 2024-08, with the labels that each got.

#212 fix: set right endpoint
  eox_nelp/api_clients/pearson_engine.py
  eox_nelp/api_clients/tests/test_pearson_engine.py
Labels: test, size/xs

#213 refactor: extract completion logic from pipe to implement it into rec…
  eox_nelp/admin/student.py
  eox_nelp/pearson_vue/pipeline.py
  eox_nelp/pearson_vue/rti_backend.py
  eox_nelp/pearson_vue/tests/test_pipeline.py
  eox_nelp/pearson_vue/tests/test_rti_backend.py
  eox_nelp/signals/receivers.py
  eox_nelp/signals/tests/test_receivers.py
Labels: size/m, admin, test

#214 fix: ensure use the prod pydantic version
  requirements/base.in
  requirements/base.txt
  requirements/constraints.txt
  requirements/pip-tools.txt
  requirements/test.txt
  requirements/tox.txt
Labels: size/m, requirements

#215 feat: raise exception on api response error
  eox_nelp/pearson_vue/tasks.py
  eox_nelp/pearson_vue/tests/test_tasks.py
Labels: size/s, test
