Repository nelc/eox-nelp, pull requests merged in 2024-04, with the labels that each got.

#140 feat: implement multiple configurations
  .gitignore
  eox_nelp/static/24068215015af53c8a67fa1c36d8f0a9.png
  eox_nelp/static/feedback_carousel/js/feedback_carousel.js
  eox_nelp/static/tenant_stats/js/tenant_stats.js
  package-lock.json
  package.json
  webpack.common.config.js
  webpack.dev.config.js
  webpack.prod.config.js
Labels: repo_root, size/m

#142 feat: supports paragon theme configuration
  eox_nelp/course_experience/frontend/src/components/FeedbackCarousel/index.jsx
  eox_nelp/course_experience/frontend/src/components/FeedbackCarousel/index.scss
  eox_nelp/static/feedback_carousel/css/feedback_carousel.css
  eox_nelp/static/feedback_carousel/js/feedback_carousel.js
  eox_nelp/static/tenant_stats/css/tenant_stats.css
  eox_nelp/static/tenant_stats/js/tenant_stats.js
  eox_nelp/stats/frontend/src/components/TenantStats/index.jsx
  eox_nelp/stats/frontend/src/components/TenantStats/index.scss
Labels: size/s, course_experience

#144 Jlc/phone validation backend
  eox_nelp/phone_validation/api/__init__.py
  eox_nelp/phone_validation/api/urls.py
  eox_nelp/phone_validation/api/v1/__init__.py
  eox_nelp/phone_validation/api/v1/tests/__init__.py
  eox_nelp/phone_validation/api/v1/tests/test_views.py
  eox_nelp/phone_validation/api/v1/urls.py
  eox_nelp/phone_validation/api/v1/views.py
  eox_nelp/tests/utils.py
  eox_nelp/urls.py
  eox_nelp/utils.py
Labels: size/m, django_plugin, test

#145 feat: add SMS vendor client API
  eox_nelp/api_clients/__init__.py
  eox_nelp/api_clients/sms_vendor.py
  eox_nelp/api_clients/tests/test_sms_vendor.py
  eox_nelp/settings/test.py
Labels: size/m, django_plugin, test

#148 feat: update target strain path
  .github/workflows/strain_dispatcher.yml
Labels: github_actions, size/xs

#147 feat: return signup source records in learner metrics
  eox_nelp/edxapp_wrapper/test_backends/users_p_v1.py
  eox_nelp/migrations/0001_initial.py
  eox_nelp/settings/test.py
  eox_nelp/stats/metrics.py
  eox_nelp/stats/tests/tests_metrics.py
Labels: size/s, test
