Repository nelc/eox-nelp, pull requests merged in 2024-11, with the labels that each got.

#230 Jlc/extende usersupport admin
  eox_nelp/admin/__init__.py
  eox_nelp/admin/tests/__init__.py
  eox_nelp/admin/user.py
Labels: size/s, admin

#232 Jlc/NIDpipelines
  eox_nelp/third_party_auth/pipeline.py
  eox_nelp/third_party_auth/tests/test_pipeline.py
  eox_nelp/third_party_auth/utils.py
Labels: size/m, test

#233 feat: create a new pipeline step that validates the national id base …
  eox_nelp/third_party_auth/pipeline.py
  eox_nelp/third_party_auth/tests/test_pipeline.py
Labels: size/s, test
