Repository nelc/eox-nelp, pull requests merged in 2024-02, with the labels that each got.

#132 chore: this remove the eox nelp XAPI_ACTIVITY_COURSE CONSTANT in favo…
  eox_nelp/processors/tests/xapi/mixins.py
  eox_nelp/processors/xapi/constants.py
  eox_nelp/processors/xapi/mixins.py
Labels: size/xs

#131 feat: add certificate context filter
  eox_nelp/openedx_filters/tests/xapi/tests_filters.py
  eox_nelp/openedx_filters/xapi/filters.py
Labels: size/m, test

#133 feat: include attempts in subsection attempt event
  eox_nelp/edxapp_wrapper/backends/course_blocks_m_v1.py
  eox_nelp/edxapp_wrapper/course_blocks.py
  eox_nelp/edxapp_wrapper/test_backends/course_blocks_m_v1.py
  eox_nelp/settings/common.py
  eox_nelp/settings/test.py
  eox_nelp/signals/receivers.py
  eox_nelp/signals/tasks.py
  eox_nelp/signals/tests/test_receivers.py
  eox_nelp/signals/tests/test_tasks.py
Labels: size/m, test

#134 feat: this overrides the get_context method to include the attempt ex…
  eox_nelp/edxapp_wrapper/test_backends/event_routing_backends_m_v1.py
  eox_nelp/processors/tests/xapi/event_transformers/tests_grade_events.py
  eox_nelp/processors/xapi/event_transformers/grade_events.py
Labels: size/s, test

#137 Revert "feat: add TenantExistMiddleware"
  eox_nelp/middleware.py
Labels: django_plugin, size/s

#127 Jlc/palm mig/language middleware
  eox_nelp/middleware.py
Labels: django_plugin, size/s
