Repository nelc/eox-nelp, pull requests merged in 2024-06, with the labels that each got.

#164 feat: adds a a new model and multiple views that allow to save the re…
  eox_nelp/admin/__init__.py
  eox_nelp/migrations/0008_pearsonrtenevent.py
  eox_nelp/pearson_vue/admin.py
  eox_nelp/pearson_vue/api/__init__.py
  eox_nelp/pearson_vue/api/urls.py
  eox_nelp/pearson_vue/api/v1/__init__.py
  eox_nelp/pearson_vue/api/v1/serializers.py
  eox_nelp/pearson_vue/api/v1/urls.py
  eox_nelp/pearson_vue/api/v1/views.py
  eox_nelp/pearson_vue/constants.py
  eox_nelp/pearson_vue/models.py
  eox_nelp/pearson_vue/tests/api/__init__.py
  eox_nelp/pearson_vue/tests/api/v1/__init__.py
  eox_nelp/pearson_vue/tests/api/v1/test_views.py
  eox_nelp/settings/test.py
  eox_nelp/urls.py
Labels: django_plugin, admin, test, size/l

#169 feat: user course enrollment for clientAuthID
  eox_nelp/pearson_vue/constants.py
  eox_nelp/pearson_vue/pipeline.py
  eox_nelp/pearson_vue/tests/test_pipeline.py
  eox_nelp/pearson_vue/tests/test_utils.py
  eox_nelp/pearson_vue/utils.py
Labels: size/s, test

#173 Jlc/add rten appointments
  eox_nelp/migrations/0009_pearsonrtenevent_appointments.py
  eox_nelp/pearson_vue/admin.py
  eox_nelp/pearson_vue/api/v1/urls.py
  eox_nelp/pearson_vue/api/v1/views.py
  eox_nelp/pearson_vue/constants.py
  eox_nelp/pearson_vue/models.py
  eox_nelp/pearson_vue/tests/api/v1/test_views.py
Labels: size/s, test

#171 feat: add ead and cdd task for admin panel
  eox_nelp/admin/student.py
  eox_nelp/admin/tests/__init__.py
  eox_nelp/pearson_vue/pipeline.py
  eox_nelp/pearson_vue/rti_backend.py
  eox_nelp/pearson_vue/tasks.py
  eox_nelp/pearson_vue/tests/test_rti_backend.py
  eox_nelp/pearson_vue/tests/test_tasks.py
Labels: size/m, admin, test

#170 feat: extract validation otp from user-profile logic
  eox_nelp/one_time_password/api/v1/tests/test_views.py
  eox_nelp/one_time_password/api/v1/urls.py
  eox_nelp/one_time_password/api/v1/views.py
  eox_nelp/one_time_password/view_decorators.py
  eox_nelp/user_profile/api/v1/tests/test_views.py
  eox_nelp/user_profile/api/v1/views.py
Labels: size/m, test

#172 feat: set default phone number
  eox_nelp/one_time_password/api/v1/views.py
  eox_nelp/one_time_password/view_decorators.py
  eox_nelp/tests/mixins.py
Labels: size/xs

#175 feat: support missing user field in update_user_data API view
  eox_nelp/user_profile/api/v1/tests/test_views.py
  eox_nelp/user_profile/api/v1/views.py
Labels: size/s, test

#176 Jlc/add save succesful phone validated
  .github/workflows/tests.yml
  eox_nelp/one_time_password/api/v1/tests/test_views.py
  eox_nelp/one_time_password/view_decorators.py
  eox_nelp/settings/test.py
  requirements/base.in
  requirements/base.txt
  requirements/pip-tools.txt
  requirements/test.txt
  requirements/tox.txt
Labels: github_actions, size/m, requirements, test

#178 refactor: split pipeline steps for cdd ead requests
  eox_nelp/pearson_vue/pipeline.py
  eox_nelp/pearson_vue/rti_backend.py
  eox_nelp/pearson_vue/tests/test_pipeline.py
Labels: size/m, test

#180 feat: add cdd task to user updated profile api
  eox_nelp/user_profile/api/v1/tests/test_views.py
  eox_nelp/user_profile/api/v1/views.py
Labels: size/s, test

#181 feat: append id of the AnoymousUserId instance to client authorization.
  eox_nelp/edxapp_wrapper/backends/student_m_v1.py
  eox_nelp/edxapp_wrapper/student.py
  eox_nelp/edxapp_wrapper/test_backends/student_m_v1.py
  eox_nelp/pearson_vue/constants.py
  eox_nelp/pearson_vue/tests/test_utils.py
  eox_nelp/pearson_vue/utils.py
Labels: size/s, test

#182 feat: remove audited methods from api client and add them directly to…
  eox_nelp/api_clients/pearson_rti.py
  eox_nelp/pearson_vue/pipeline.py
Labels: size/m

#183 feat: update frontend-essentials to 2.3.0
  eox_nelp/static/feedback_carousel/js/feedback_carousel.js
  eox_nelp/static/tenant_stats/js/tenant_stats.js
  eox_nelp/static/user_profile/js/user_profile.js
  package-lock.json
  package.json
Labels: repo_root, size/s

#177 feat: validators for cdd,ead, and error pipeline
  eox_nelp/pearson_vue/data_classes.py
  eox_nelp/pearson_vue/exceptions.py
  eox_nelp/pearson_vue/pipeline.py
  eox_nelp/pearson_vue/rti_backend.py
  eox_nelp/pearson_vue/tasks.py
  eox_nelp/pearson_vue/tests/test_exceptions.py
  eox_nelp/pearson_vue/tests/test_pipeline.py
  eox_nelp/pearson_vue/tests/test_rti_backend.py
  eox_nelp/pearson_vue/tests/test_tasks.py
Labels: test, size/l
