Repository nelc/eox-nelp, pull requests merged in 2024-05, with the labels that each got.

#150 refactor: implement authentication class and authenticator
  eox_nelp/api_clients/__init__.py
  eox_nelp/api_clients/authenticators.py
  eox_nelp/api_clients/certificates.py
  eox_nelp/api_clients/futurex.py
  eox_nelp/api_clients/mt.py
  eox_nelp/api_clients/sms_vendor.py
  eox_nelp/api_clients/tests/__init__.py
  eox_nelp/api_clients/tests/mixins.py
  eox_nelp/api_clients/tests/test_mt.py
  eox_nelp/api_clients/tests/test_sms_vendor.py
  eox_nelp/api_clients/tests/tests_certificates.py
  eox_nelp/api_clients/tests/tests_futurex.py
Labels: test, size/l

#151 And/add rti api client
  eox_nelp/api_clients/__init__.py
  eox_nelp/api_clients/authenticators.py
  eox_nelp/api_clients/pearson_rti.py
  eox_nelp/api_clients/tests/mixins.py
  eox_nelp/api_clients/tests/test_pearson_rti.py
  eox_nelp/settings/test.py
  requirements/base.in
  requirements/base.txt
  requirements/django.txt
  requirements/pip-tools.txt
  requirements/test.txt
  requirements/tox.txt
Labels: requirements, test, size/l

#152 feat: add pearson_vue module and rti backend
  eox_nelp/pearson_vue/__init__.py
  eox_nelp/pearson_vue/rti_backend.py
  eox_nelp/pearson_vue/tasks.py
  eox_nelp/pearson_vue/tests/__init__.py
  eox_nelp/pearson_vue/tests/test_rti_backend.py
  eox_nelp/pearson_vue/tests/test_tasks.py
Labels: size/m, test

#153 Jlc/pearson vue/payload manipulations
  eox_nelp/pearson_vue/constants.py
  eox_nelp/pearson_vue/tests/test_utils.py
  eox_nelp/pearson_vue/utils.py
  requirements/base.in
  requirements/base.txt
  requirements/test.txt
Labels: requirements, test, size/l

#156 refactor: reuse grading and completion logic
  eox_nelp/signals/tasks.py
  eox_nelp/signals/tests/test_tasks.py
  eox_nelp/signals/utils.py
Labels: size/s, test

#155 feat: add get_user_data pipeline
  eox_nelp/edxapp_wrapper/backends/student_m_v1.py
  eox_nelp/edxapp_wrapper/student.py
  eox_nelp/edxapp_wrapper/test_backends/student_m_v1.py
  eox_nelp/pearson_vue/pipeline.py
  eox_nelp/pearson_vue/rti_backend.py
  eox_nelp/pearson_vue/tests/test_pipeline.py
  requirements/base.in
  requirements/base.txt
  requirements/test.in
  requirements/test.txt
Labels: size/m, requirements, test

#159 feat: add ping, cdd and ead pipeline steps
  eox_nelp/pearson_vue/pipeline.py
  eox_nelp/pearson_vue/tests/test_pipeline.py
  eox_nelp/settings/test.py
Labels: test, size/l

#160 fix: include inner wrapper to avoid JSON serializable errors
  eox_nelp/api_clients/pearson_rti.py
Labels: size/m

#161 feat: add get_exam_data pipe
  eox_nelp/pearson_vue/pipeline.py
  eox_nelp/pearson_vue/tests/test_pipeline.py
Labels: size/m, test

#158 Jlc/pearson vue/connect completion grading receivers
  eox_nelp/apps.py
  eox_nelp/pearson_vue/constants.py
  eox_nelp/pearson_vue/pipeline.py
  eox_nelp/pearson_vue/rti_backend.py
  eox_nelp/pearson_vue/tests/test_pipeline.py
  eox_nelp/signals/receivers.py
  eox_nelp/signals/tests/test_receivers.py
Labels: size/m, django_plugin, test

#162 feat: add pearson_real_time_action which allows to execute rti reques…
  eox_nelp/admin/__init__.py
  eox_nelp/admin/student.py
  eox_nelp/admin/tests/__init__.py
  eox_nelp/edxapp_wrapper/backends/student_m_v1.py
  eox_nelp/edxapp_wrapper/student.py
  eox_nelp/edxapp_wrapper/test_backends/student_m_v1.py
Labels: size/m, admin

#163 fix: encoded body to utf-8 for arabic chars
  eox_nelp/api_clients/__init__.py
  eox_nelp/api_clients/tests/mixins.py
Labels: size/xs

#166 feat: This adds a payment notification missing migration
  eox_nelp/migrations/0007_auto_20240529_1724.py
Labels: size/s

#167 feat: this includes the client authorization id into the EAD request
  eox_nelp/pearson_vue/constants.py
  eox_nelp/pearson_vue/pipeline.py
  eox_nelp/pearson_vue/tests/test_pipeline.py
Labels: size/s, test
