Repository nelc/eox-nelp, pull requests merged in 2024-10, with the labels that each got.

#220 feat: replace cdd task in order to use the v2 version
  eox_nelp/user_profile/api/v1/tests/test_views.py
  eox_nelp/user_profile/api/v1/views.py
Labels: size/s, test

#222 feat: replace username with extrainfo national_id
  eox_nelp/processors/tests/xapi/mixins.py
  eox_nelp/signals/receivers.py
  eox_nelp/signals/tasks.py
  eox_nelp/signals/tests/test_receivers.py
  eox_nelp/signals/tests/test_tasks.py
  eox_nelp/signals/tests/test_utils.py
  eox_nelp/signals/utils.py
Labels: size/s, test

#224 feat: send national id to pearson engine service
  eox_nelp/api_clients/pearson_engine.py
  eox_nelp/api_clients/tests/test_pearson_engine.py
Labels: test, size/xs

#226 feat: update frontend-essentials to 2.7.1
  eox_nelp/static/feedback_carousel/js/feedback_carousel.js
  eox_nelp/static/tenant_stats/js/tenant_stats.js
  eox_nelp/static/user_profile/js/user_profile.js
  package-lock.json
  package.json
Labels: repo_root, size/s

#227 fix: don't send empty national ids
  eox_nelp/api_clients/pearson_engine.py
Labels: size/xs

#228 feat: add the Arabic name to the engine request user data
  eox_nelp/api_clients/pearson_engine.py
  eox_nelp/api_clients/tests/test_pearson_engine.py
Labels: test

#219 feat: add engines model
  eox_nelp/migrations/0012_add_pearson_engines_register.py
  eox_nelp/pearson_vue/admin.py
  eox_nelp/pearson_vue/models.py
  eox_nelp/pearson_vue/tests/test_models.py
  eox_nelp/pearson_vue/tests/test_utils.py
  eox_nelp/pearson_vue/utils.py
Labels: test, size/l

#217 Jlc/update engines
  eox_nelp/pearson_vue/tasks.py
  eox_nelp/pearson_vue/tests/test_tasks.py
Labels: size/s, test

#229 feat: add course_home_url to course_api
  eox_nelp/course_api/v1/serializers.py
  eox_nelp/course_api/v1/tests/test_views.py
  eox_nelp/edxapp_wrapper/backends/course_experience_p_v1.py
  eox_nelp/edxapp_wrapper/course_experience.py
  eox_nelp/edxapp_wrapper/test_backends/course_experience_p_v1.py
  eox_nelp/settings/common.py
  eox_nelp/settings/test.py
Labels: size/s, test, course_api
