Repository nelc/eox-nelp, pull requests merged in 2024-07, with the labels that each got.

#184 feat: improve audit columns
  eox_nelp/pearson_vue/pipeline.py
Labels: size/s

#185 refactor: use PearsonImportError for imports
  eox_nelp/pearson_vue/exceptions.py
  eox_nelp/pearson_vue/pipeline.py
  eox_nelp/pearson_vue/tests/test_pipeline.py
Labels: size/m, test

#186 refactor: implement abstract backend class
  eox_nelp/pearson_vue/rti_backend.py
  eox_nelp/pearson_vue/tests/test_rti_backend.py
Labels: size/m, test

#188 feat: update frontend-essentials to 2.5.0
  eox_nelp/static/feedback_carousel/js/feedback_carousel.js
  eox_nelp/static/tenant_stats/js/tenant_stats.js
  eox_nelp/static/user_profile/js/user_profile.js
  package-lock.json
  package.json
Labels: repo_root, size/s

#189 Jlc/validate cp1252 pydantic
  eox_nelp/pearson_vue/data_classes.py
  eox_nelp/pearson_vue/tests/test_pipeline.py
  eox_nelp/pearson_vue/tests/test_utils.py
  eox_nelp/pearson_vue/utils.py
Labels: size/m, test

#187 And/generate certificate based on rten request
  eox_nelp/edxapp_wrapper/backends/certificates_m_v1.py
  eox_nelp/edxapp_wrapper/certificates.py
  eox_nelp/edxapp_wrapper/test_backends/certificates_m_v1.py
  eox_nelp/pearson_vue/api/v1/views.py
  eox_nelp/pearson_vue/exceptions.py
  eox_nelp/pearson_vue/pipeline.py
  eox_nelp/pearson_vue/rti_backend.py
  eox_nelp/pearson_vue/tests/api/v1/test_views.py
  eox_nelp/pearson_vue/tests/test_pipeline.py
  eox_nelp/pearson_vue/tests/test_rti_backend.py
Labels: test, size/l

#190 feat: add candidate field to RTEN model
  eox_nelp/migrations/0010_pearsonrtenevent_candidate.py
  eox_nelp/pearson_vue/admin.py
  eox_nelp/pearson_vue/api/v1/serializers.py
  eox_nelp/pearson_vue/api/v1/views.py
  eox_nelp/pearson_vue/models.py
  eox_nelp/pearson_vue/tests/api/v1/test_views.py
Labels: size/s, test

#193 feat: add course overview field to RTEN model
  eox_nelp/migrations/0011_pearsonrtenevent_course.py
  eox_nelp/pearson_vue/admin.py
  eox_nelp/pearson_vue/api/v1/serializers.py
  eox_nelp/pearson_vue/api/v1/views.py
  eox_nelp/pearson_vue/models.py
  eox_nelp/pearson_vue/tests/api/v1/test_views.py
Labels: size/m, test

#194 feat: profile api save extrainfo arabic fields
  eox_nelp/one_time_password/view_decorators.py
  eox_nelp/tests/test_utils.py
  eox_nelp/user_profile/api/v1/tests/test_views.py
  eox_nelp/user_profile/api/v1/views.py
  eox_nelp/utils.py
Labels: size/m, django_plugin, test

#197 feat: update essentials to 2.6.0
  eox_nelp/static/feedback_carousel/js/feedback_carousel.js
  eox_nelp/static/tenant_stats/js/tenant_stats.js
  eox_nelp/static/user_profile/js/user_profile.js
  package-lock.json
  package.json
Labels: repo_root, size/s

#192 feat: add audit for succesfull imports
  eox_nelp/pearson_vue/decorators.py
  eox_nelp/pearson_vue/pipeline.py
  eox_nelp/pearson_vue/rti_backend.py
  eox_nelp/pearson_vue/tests/test_rti_backend.py
Labels: size/s, test

#191 refactor: sms vendor with notification-gateway api
  eox_nelp/api_clients/authenticators.py
  eox_nelp/api_clients/sms_vendor.py
  eox_nelp/api_clients/tests/test_sms_vendor.py
  eox_nelp/settings/test.py
Labels: size/s, test

#199 refactor: replace generic list create api view with generic viewset a…
  eox_nelp/pearson_vue/api/v1/urls.py
  eox_nelp/pearson_vue/api/v1/views.py
  eox_nelp/pearson_vue/tests/api/v1/test_views.py
Labels: size/s, test

#198 feat: elegibility_appt_dates runtime calculations
  eox_nelp/pearson_vue/pipeline.py
  eox_nelp/pearson_vue/tests/test_pipeline.py
Labels: size/s, test

#200 And/add detail view to result notification
  eox_nelp/pearson_vue/api/v1/views.py
  eox_nelp/pearson_vue/tests/api/v1/test_views.py
Labels: size/s, test

#201 fix: turn off audit feature
  eox_nelp/pearson_vue/rti_backend.py
Labels: size/xs

#202 feat: change candidate representation from id to username
  eox_nelp/pearson_vue/api/v1/serializers.py
Labels: size/s

#203 feat: add filter backends and limit the list view to super or staff u…
  eox_nelp/pearson_vue/api/v1/views.py
  eox_nelp/pearson_vue/tests/api/v1/test_views.py
Labels: size/s, test

#204 feat: update frontend-essentials to 2.7.0
  eox_nelp/static/feedback_carousel/css/feedback_carousel.css
  eox_nelp/static/feedback_carousel/js/feedback_carousel.js
  eox_nelp/static/tenant_stats/css/tenant_stats.css
  eox_nelp/static/tenant_stats/js/tenant_stats.js
  eox_nelp/static/user_profile/css/user_profile.css
  eox_nelp/static/user_profile/js/user_profile.js
  eox_nelp/user_profile/frontend/src/components/UserProfileForm/index.scss
  package-lock.json
  package.json
Labels: repo_root, size/s

#205 feat: userSignUpSource create by course_enrollment
  eox_nelp/apps.py
  eox_nelp/signals/receivers.py
  eox_nelp/signals/tests/test_receivers.py
Labels: size/m, django_plugin, test

#206 feat: logic to send SMS for generante OTP
  eox_nelp/one_time_password/api/v1/tests/test_views.py
  eox_nelp/one_time_password/api/v1/views.py
Labels: size/s, test

#208 fix: patch generate_password in loaded module
  eox_nelp/init_pipeline.py
  eox_nelp/tests/test_init_pipeline.py
Labels: django_plugin, size/s, test

#207 feat: split feature flag into read and write permissions
  eox_nelp/pearson_vue/api/v1/views.py
  eox_nelp/pearson_vue/tests/api/v1/test_views.py
  eox_nelp/settings/test.py
Labels: size/s, test

#209 feat: add Pearson engine client
  eox_nelp/api_clients/authenticators.py
  eox_nelp/api_clients/futurex.py
  eox_nelp/api_clients/pearson_engine.py
  eox_nelp/api_clients/tests/mixins.py
  eox_nelp/api_clients/tests/test_pearson_engine.py
  eox_nelp/settings/test.py
Labels: size/m, test

#211 feat: implement new celery task for pearson engine integration
  eox_nelp/admin/student.py
  eox_nelp/admin/tests/__init__.py
  eox_nelp/pearson_vue/constants.py
  eox_nelp/pearson_vue/tasks.py
  eox_nelp/pearson_vue/tests/test_tasks.py
  eox_nelp/signals/receivers.py
  eox_nelp/signals/tests/test_receivers.py
Labels: size/m, admin, test
