Repository nelc/eox-nelp, pull requests merged in 2025-05, with the labels that each got.

#274 feat: improve admin raw fields
  eox_nelp/course_experience/admin.py
  eox_nelp/external_certificates/admin.py
  eox_nelp/notifications/admin.py
Labels: course_experience, size/xs

#275 chore: change expiration fields for certificates
  eox_nelp/signals/tests/test_utils.py
  eox_nelp/signals/utils.py
Labels: test, size/xs

#276 feat: update @edunext/frontend-essentials to version 4.4.0
  eox_nelp/static/feedback_carousel/js/feedback_carousel.js
  eox_nelp/static/tenant_stats/js/tenant_stats.js
  eox_nelp/static/user_profile/js/user_profile.js
  package-lock.json
  package.json
Labels: repo_root, size/s

#279 feat: create retire user admin action
  eox_nelp/admin/user.py
  eox_nelp/edxapp_wrapper/backends/django_comment_common_r_v1.py
  eox_nelp/edxapp_wrapper/backends/user_api_m_v1.py
  eox_nelp/edxapp_wrapper/django_comment_common.py
  eox_nelp/edxapp_wrapper/test_backends/django_comment_common_r_v1.py
  eox_nelp/edxapp_wrapper/test_backends/user_api_m_v1.py
  eox_nelp/edxapp_wrapper/user_api.py
  eox_nelp/settings/common.py
  eox_nelp/settings/test.py
Labels: size/m, admin, test

#278 Jlc/users api income
  eox_nelp/edxapp_wrapper/test_backends/users_p_v1.py
  eox_nelp/settings/test.py
  eox_nelp/urls.py
  eox_nelp/users/__init__.py
  eox_nelp/users/api/__init__.py
  eox_nelp/users/api/v1/serializers.py
  eox_nelp/users/api/v1/urls.py
  eox_nelp/users/api/v1/views.py
  eox_nelp/users/tests/__init__.py
  eox_nelp/users/tests/test_serializers.py
  eox_nelp/users/tests/test_views.py
  eox_nelp/users/urls.py
Labels: size/m, django_plugin, test

#280 feat: add phone number validation
  eox_nelp/locale/ar/LC_MESSAGES/django.mo
  eox_nelp/locale/ar/LC_MESSAGES/django.po
  eox_nelp/settings/common.py
  eox_nelp/settings/test.py
  eox_nelp/user_profile/api/v1/helpers.py
  eox_nelp/user_profile/api/v1/tests/test_views.py
  eox_nelp/user_profile/api/v1/views.py
Labels: size/m, test, translations
