Repository nelc/eox-nelp, pull requests merged in 2025-03, with the labels that each got.

#255 feat: update frontend-essentials and peer dependencies
  eox_nelp/course_experience/frontend/src/components/FeedbackCarousel/index.scss
  eox_nelp/static/feedback_carousel/css/feedback_carousel.css
  eox_nelp/static/feedback_carousel/index.html
  eox_nelp/static/feedback_carousel/js/feedback_carousel.js
  eox_nelp/static/feedback_carousel/js/feedback_carousel.js.LICENSE.txt
  eox_nelp/static/tenant_stats/css/tenant_stats.css
  eox_nelp/static/tenant_stats/index.html
  eox_nelp/static/tenant_stats/js/tenant_stats.js
  eox_nelp/static/tenant_stats/js/tenant_stats.js.LICENSE.txt
  eox_nelp/static/user_profile/css/user_profile.css
  eox_nelp/static/user_profile/index.html
  eox_nelp/static/user_profile/js/user_profile.js
  eox_nelp/static/user_profile/js/user_profile.js.LICENSE.txt
  eox_nelp/stats/frontend/src/components/TenantStats/index.scss
  eox_nelp/user_profile/frontend/src/components/UserProfileForm/index.jsx
  eox_nelp/user_profile/frontend/src/components/UserProfileForm/index.scss
  eox_nelp/user_profile/templates/user_profile_form.html
  package-lock.json
  package.json
  webpack.common.config.js
Labels: repo_root, course_experience, size/xl

#257 feat: ensure missing ExtraInfo fields are marked as empty instead of …
  eox_nelp/user_profile/required_fields_validation.py
  eox_nelp/user_profile/tests/test_required_fields_validation.py
Labels: size/s, test

#262 feat: add support for allow_empty and enhance field validation tests
  eox_nelp/user_profile/required_fields_validation.py
  eox_nelp/user_profile/tests/test_required_fields_validation.py
Labels: size/s, test

#261 feat: change python39 to python312 tests
  .github/workflows/tests.yml
  tox.ini
Labels: repo_root, github_actions, size/xs

#254 feat: remove pylint useless suppressions
  Makefile
  eox_nelp/cms/api/urls.py
  eox_nelp/cms/api/v1/tests/test_views.py
  eox_nelp/cms_urls.py
  eox_nelp/course_api/urls.py
  eox_nelp/course_api/v1/serializers.py
  eox_nelp/course_api/v1/tests/test_views.py
  eox_nelp/course_experience/api/urls.py
  eox_nelp/course_experience/api/v1/views.py
  eox_nelp/course_experience/frontend/tests/test_views.py
  eox_nelp/course_experience/frontend/views.py
  eox_nelp/init_pipeline.py
  eox_nelp/management/commands/notify_course_due_dates.py
  eox_nelp/management/commands/tests/test_check_notify_course_due_dates.py
  eox_nelp/one_time_password/api/urls.py
  eox_nelp/one_time_password/api/v1/tests/test_views.py
  eox_nelp/openedx_filters/xapi/filters.py
  eox_nelp/payment_notifications/urls.py
  eox_nelp/pearson_vue/api/urls.py
  eox_nelp/pearson_vue/tests/test_pipeline.py
  eox_nelp/pearson_vue/utils.py
  eox_nelp/stats/api/urls.py
  eox_nelp/stats/tests/test_views.py
  eox_nelp/stats/tests/tests_metrics.py
  eox_nelp/urls.py
  eox_nelp/user_profile/api/urls.py
  eox_nelp/user_profile/api/v1/tests/test_views.py
  setup.cfg
Labels: repo_root, django_plugin, size/s, course_experience, test, course_api, commands

#249 chore: remove and rename unused pearson vue packages
  eox_nelp/admin/__init__.py
  eox_nelp/admin/student.py
  eox_nelp/admin/tests/__init__.py
  eox_nelp/migrations/0013_delete_pearsonrtenevent.py
  eox_nelp/pearson_vue/api/urls.py
  eox_nelp/pearson_vue/api/v1/__init__.py
  eox_nelp/pearson_vue/api/v1/serializers.py
  eox_nelp/pearson_vue/api/v1/urls.py
  eox_nelp/pearson_vue/api/v1/views.py
  eox_nelp/pearson_vue/constants.py
  eox_nelp/pearson_vue/data_classes.py
  eox_nelp/pearson_vue/exceptions.py
  eox_nelp/pearson_vue/pipeline.py
  eox_nelp/pearson_vue/rti_backend.py
  eox_nelp/pearson_vue/tasks.py
  eox_nelp/pearson_vue/tests/__init__.py
  eox_nelp/pearson_vue/tests/api/__init__.py
  eox_nelp/pearson_vue/tests/api/v1/__init__.py
  eox_nelp/pearson_vue/tests/api/v1/test_views.py
  eox_nelp/pearson_vue/tests/test_exceptions.py
  eox_nelp/pearson_vue/tests/test_pipeline.py
  eox_nelp/pearson_vue/tests/test_rti_backend.py
  eox_nelp/pearson_vue/tests/test_utils.py
  eox_nelp/pearson_vue_engine/__init__.py
  eox_nelp/pearson_vue_engine/admin.py
  eox_nelp/pearson_vue_engine/constants.py
  eox_nelp/pearson_vue_engine/decorators.py
  eox_nelp/pearson_vue_engine/models.py
  eox_nelp/pearson_vue_engine/tasks.py
  eox_nelp/pearson_vue_engine/tests/__init__.py
  eox_nelp/pearson_vue_engine/tests/test_models.py
  eox_nelp/pearson_vue_engine/tests/test_tasks.py
  eox_nelp/pearson_vue_engine/tests/test_utils.py
  eox_nelp/pearson_vue_engine/utils.py
  eox_nelp/signals/receivers.py
  eox_nelp/signals/tests/test_receivers.py
  eox_nelp/urls.py
  eox_nelp/user_profile/api/v1/views.py
Labels: django_plugin, admin, test, size/xl

#256 feat: unpin external-api-clients package
  eox_nelp/one_time_password/api/v1/tests/test_views.py
  eox_nelp/one_time_password/api/v1/views.py
  eox_nelp/pearson_vue_engine/tasks.py
  eox_nelp/signals/tasks.py
  eox_nelp/signals/tests/test_tasks.py
  requirements/base.in
  requirements/base.txt
  requirements/test.txt
Labels: size/s, requirements, test

#263 feat: add support for dependent_fields validation
  eox_nelp/user_profile/required_fields_validation.py
  eox_nelp/user_profile/tests/test_required_fields_validation.py
Labels: size/m, test

#258 feat: modify ExtraInfo saving to support multiple fields and enforce …
  eox_nelp/one_time_password/api/v1/tests/test_views.py
  eox_nelp/one_time_password/view_decorators.py
  eox_nelp/signals/tests/test_receivers.py
  eox_nelp/signals/tests/test_tasks.py
  eox_nelp/signals/tests/test_utils.py
  eox_nelp/tests/test_utils.py
  eox_nelp/user_profile/api/v1/tests/test_views.py
  eox_nelp/user_profile/api/v1/views.py
  eox_nelp/utils.py
Labels: size/m, django_plugin, test

#267 feat: update frontend-essentials to 4.1.0
  eox_nelp/static/user_profile/js/user_profile.js
  package-lock.json
  package.json
Labels: repo_root, size/s

#269 fix: custom reg form app label to load
  eox_nelp/admin/__init__.py
  eox_nelp/settings/common.py
  eox_nelp/settings/test.py
Labels: size/s, admin, test

#259 feat: add sqs client requirement
  requirements/base.in
  requirements/base.txt
  requirements/test.txt
  requirements/tox.txt
Labels: size/m, requirements

#265 refactor: create external certificate own dir
  eox_nelp/admin/certificates.py
  eox_nelp/external_certificates/__init__.py
  eox_nelp/external_certificates/tasks.py
  eox_nelp/external_certificates/tests/__init__.py
  eox_nelp/external_certificates/tests/tests_tasks.py
  eox_nelp/signals/receivers.py
  eox_nelp/signals/tasks.py
  eox_nelp/signals/tests/test_tasks.py
Labels: admin, test, size/l

#270 fix: dont sent course_id object to sqs cert task
  eox_nelp/external_certificates/tasks.py
Labels: size/xs

#271 feat: update frontend-essentials to 4.3.0
  eox_nelp/static/feedback_carousel/js/feedback_carousel.js
  eox_nelp/static/tenant_stats/js/tenant_stats.js
  eox_nelp/static/user_profile/js/user_profile.js
  package-lock.json
  package.json
Labels: repo_root, size/s

#272 feat: add atlas translation to react components
  .gitignore
  Makefile
  eox_nelp/course_experience/frontend/src/components/FeedbackCarousel/index.jsx
  eox_nelp/i18n/index.js
  eox_nelp/static/feedback_carousel/js/feedback_carousel.js
  eox_nelp/static/tenant_stats/js/tenant_stats.js
  eox_nelp/static/user_profile/js/user_profile.js
  eox_nelp/stats/frontend/src/components/TenantStats/index.jsx
  eox_nelp/user_profile/frontend/src/components/UserProfileForm/index.jsx
  package-lock.json
  package.json
Labels: repo_root, size/s, course_experience

#266 feat: add external certificates model
  eox_nelp/admin/__init__.py
  eox_nelp/external_certificates/admin.py
  eox_nelp/external_certificates/models.py
  eox_nelp/external_certificates/tests/test_models.py
  eox_nelp/migrations/0014_add_external_certificate.py
Labels: size/m, admin, test
