Repository nelc/eox-nelp, pull requests merged in 2025-02, with the labels that each got.

#239 fix: upgrade github action cache version
  .github/workflows/tests.yml
Labels: github_actions, size/xs

#241 feat: upgrade python version and django version
  .github/workflows/tests.yml
  eox_nelp/notifications/admin.py
  eox_nelp/openedx_filters/xapi/filters.py
  requirements/base.txt
  requirements/constraints.txt
  requirements/django.txt
  requirements/pip-tools.txt
  requirements/test.txt
  requirements/tox.txt
  tox.ini
Labels: repo_root, github_actions, requirements, size/l

#240 Jlc/pin nelc api clients
  requirements/base.in
  requirements/base.txt
  requirements/test.txt
Labels: requirements, size/xs

#248 fix: update sms vendor api client package
  eox_nelp/api_clients/sms_vendor.py
  eox_nelp/api_clients/tests/test_sms_vendor.py
  eox_nelp/one_time_password/api/v1/views.py
Labels: size/m, test

#247 fix: update futurex api client package
  eox_nelp/api_clients/futurex.py
  eox_nelp/api_clients/tests/tests_futurex.py
  eox_nelp/signals/tasks.py
  eox_nelp/signals/tests/test_tasks.py
Labels: size/m, test

#244 fix: update pearson rti api client package
  eox_nelp/api_clients/pearson_rti.py
  eox_nelp/api_clients/tests/test_pearson_rti.py
  eox_nelp/pearson_vue/pipeline.py
Labels: size/m, test

#245 fix: update pearson engine api client
  eox_nelp/api_clients/pearson_engine.py
  eox_nelp/api_clients/tests/test_pearson_engine.py
  eox_nelp/pearson_vue/tasks.py
  eox_nelp/pearson_vue/tests/test_tasks.py
  eox_nelp/pearson_vue/tests/test_utils.py
  eox_nelp/pearson_vue/utils.py
Labels: test, size/l

#252 feat: add full name attribute to pearson vue request
  eox_nelp/pearson_vue/tests/test_utils.py
  eox_nelp/pearson_vue/utils.py
Labels: test, size/xs

#250 feat: add required fields validation logic
  eox_nelp/tests/test_validators.py
  eox_nelp/user_profile/required_fields_validation.py
  eox_nelp/user_profile/tests/__init__.py
  eox_nelp/user_profile/tests/test_required_fields_validation.py
  eox_nelp/validators.py
  requirements/base.in
  requirements/base.txt
  requirements/test.txt
  requirements/tox.txt
Labels: django_plugin, requirements, test, size/xl

#253 feat: add get validated user fields view
  eox_nelp/user_profile/api/v1/tests/test_views.py
  eox_nelp/user_profile/api/v1/urls.py
  eox_nelp/user_profile/api/v1/views.py
Labels: size/m, test
